.gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

#c {
    background-image: url("./images/background.png");
    background-size: contain;
    
}